/dts-v1/;
/plugin/;

/ {
    chosen {
        // To be appended by GBL.
        bootargs_ext = "overlay_bootargs_ext";
    };

    // add a new node at the root level
    fragment@0 {
        target-path = "/chosen";
        __overlay__ {
            first_overlay {
                overlay_b_property = "overlay_b_val";
            };
        };
    };
};
